{% load static %}

<ul class="m-0 p-0 w-100 d-flex">
    <li class="ms-1 list-group-item link-hover" title="Blog and portfolio fotima">
        <a href="https://www.youtube.com/@Fotima_04_bintu_Rohmanqul/featured" target="_blank">
            <img class="img-fluid img-thumbnail" width="60" src="{% static 'images/RSS/blog.svg' %}"
                alt="Blog and portfolio fotima" />
        </a>
    </li>
    <li class="ms-1 list-group-item link-hover" title="email fshavkatova04@gmai.com">
        <a href="mailto:fshavkatova04@gmail.com" target="_blank">
            <img class="img-fluid img-thumbnail" width="60" src="{% static 'images/RSS/email.svg' %}"
                alt="email fshavkatova04@gmail.com" />
        </a>
    </li>
    <li class="ms-1 list-group-item link-hover" title="github fotima">
        <a href="https://github.com/04fotima" target="_blank">
            <img class="img-fluid img-thumbnail" width="60" src="{% static 'images/RSS/github.svg' %}"
                alt="github fotima" />
        </a>
    </li>
    <li class="ms-1 list-group-item link-hover" title="linkedin fotima">
        <a href="https://www.linkedin.com/in/fotima-shavkatova-6b6b1733a/" target="_blank">
            <img class="img-fluid img-thumbnail" width="60" src="{% static 'images/RSS/linkedin.svg' %}"
                alt="linkedin fotima" />
        </a>
    </li>
    <li class="ms-1 list-group-item link-hover" title="twitter fotima">
        <a href="https://twitter.com" target="_blank">
            <img class="img-fluid img-thumbnail" width="60" src="{% static 'images/RSS/twitter.svg' %}"
                alt="twitter fotima" />
        </a>
    </li>
</ul>